#back1 {
    width: 100%;
    height: 50%;
    object-fit: scale-down;
	opacity:0.75;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo1{
	width:5%;
	height:5%;
	padding:0.5%;
	display:inline-block;
}
.container {
  position: relative;

}
.menu{
	display:inline-block;
	
}
#img1{
	  max-width: 100%;
  height: auto;
	
}
#ctn1{
	
	background-color:#A9B9AC;
	margin-bottom:5px;
}
#head {
	background-color:#91AABC;
	margin-bottom:5px;
	padding-top:15px;
	padding-bottom:15px;
	
}
#ctn2{
	background-color:#4E5F62;
	margin-bottom:5px;
	
}
#ctn3{
	
	background-color:#E3D5A2;
	margin-bottom:5px;
}
